In [1]:
import json
import pandas as pd

In [ ]:
%%time

df = pd.read_json(r"C:\Users\stezo\Desktop\Text_classification\Movies_and_TV.json", lines=True)

In [13]:
print(len(df))
df.head()

459436

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,4,True,"03 11, 2014",A240ORQ2LF9LUI,0077613252,{'Format:': ' Loose Leaf'},Michelle W,The materials arrived early and were in excell...,Material Great,1394496000,NaN,NaN
1,4,True,"02 23, 2014",A1YCCU0YRLS0FE,0077613252,{'Format:': ' Loose Leaf'},Rosalind White Ames,I am really enjoying this book with the worksh...,Health,1393113600,NaN,NaN
2,1,True,"02 17, 2014",A1BJHRQDYVAY2J,0077613252,{'Format:': ' Loose Leaf'},Allan R. Baker,"IF YOU ARE TAKING THIS CLASS DON""T WASTE YOUR ...",ARE YOU KIDING ME?,1392595200,7,NaN
3,3,True,"02 17, 2014",APRDVZ6QBIQXT,0077613252,{'Format:': ' Loose Leaf'},Lucy,This book was missing pages!!! Important pages...,missing pages!!,1392595200,3,NaN
4,5,False,"10 14, 2013",A2JZTTBSLS1QXV,0077775473,NaN,Albert V.,I have used LearnSmart and can officially say ...,Best study product out there!,1381708800,NaN,NaN

In [15]:
df = df.loc[:,('reviewText','overall')]

In [18]:
df.dropna(axis = 0, how ='any',inplace=True) 
df.drop_duplicates(subset=['overall','reviewText'],keep='first',inplace=True)

In [19]:
print(len(df))
df1.to_csv(r'C:\Users\stezo\Desktop\Text_classification\Movies_and_TV.csv')

423392